<?xml version="1.0"?>
<launch>
	<!-- Аргументы конфигурации -->
  <arg name="id" 	  default="1"/>
	<arg name="rate"  default="1.0"/>

	<!-- Параметры среды -->
	<param name="control_rate" value="$(arg rate)"/>

	<!-- Установка параметров логирования -->
	<env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find manipulator_control)/rosconsole.conf"/>
  
  <!-- Запись топиков в rosbag -->
  <!-- <node pkg="rosbag" type="record" name="console_log" -->
  <!--   args="-O $(find manipulator_control)/.bags/console.bag /rosout"/> -->
  <!-- <node pkg="rosbag" type="record" name="debug_log" -->
  <!--   args='-O $(find manipulator_control)/.bags/manipulator.bag -e "/manipulator.*"'/> -->

  <!-- Основной узел манипулятора -->
  <include file="$(find manipulator_control)/launch/manipulator_control.launch">
    <arg name="id" value="$(arg id)"/>
    <arg name="rate" value="$(arg rate)"/>
  </include>
</launch>
