<?xml version="1.0"?>
<launch>
	<!-- Аргументы для конфигурации -->
	<arg name="debug" default="true"/>
	<arg name="rate"  default="1.0"/>

	<!-- Основной узел манипулятора -->
	<node pkg="manipulator_control" 
        type="manipulator_control_node" 
        name="manipulator_control_node_1" 
    		output="screen"
    		launch-prefix="gdb -ex run --args">

		<!-- Параметры узла -->
		<param name="debug_output" value="$(arg debug)"/>
		<param name="control_rate" value="$(arg rate)"/>

		<!-- Переназначение топиков -->
		<remap from="/elbow_input"         to="/manipulator1/elbow_input"/>
		<remap from="/elbow_output"        to="/manipulator1/elbow_output"/>
		<remap from="/shoulder_input"      to="/manipulator1/shoulder_input"/>
		<remap from="/shoulder_output"     to="/manipulator1/shoulder_output"/>
		<remap from="/payload_input"       to="/manipulator1/payload_input"/>
		<remap from="/payload_output"      to="/manipulator1/payload_output"/>
		<remap from="/manipulator_command" to="/manipulator1/manipulator_command"/>
	</node>
</launch>
